<div class="">
    <p class="main-title m-0">Corporate Profile</p>
    <mat-divider></mat-divider>
    <div class="my-3">
        <p class="normal-text">Founded by Mr. K.H. Oswal on 15 August 1966, the Kumar Properties Group is a well
            diversified, value driven
            enterprise.
            More than 32,000 satisfied and happy families are our brand ambassadors and our true strength.</p>

        <p class="normal-text">Over 32,000 happy families from diverse socio-economic and cultural background, over
            1,000 satisfied large,
            medium and small businesses, all enjoying the comforts and pleasures of living in environment-friendly,
            well-designed, fully-equipped residential complexes, or working out of swanky commercial premises. That is
            the
            Kumar Properties’ record of achievement in core service offerings. A record of not mere construction, but
            creation of complete living, working and business spaces, with the latest amenities and facilities
            integrated in
            a holistic manner and backed by lifelong maintenance.</p>

        <p class="normal-text">One of the largest players in Pune’s real estate market with annual sales of more than 28
            million sq.ft., it is a
            brand that commands a premium over other real estate developers. Providing complete solutions to clients,
            the
            Group is a symbol of trust and integrity built through its superior quality work, timely project completion
            and
            personalized services.
        </p>
    </div>
    <mat-divider></mat-divider>

    <ol>
        <p class="sub-title-blue">Vision</p>
        <li>
            To set new standards of excellence in the service of providing top quality living, working and business
            spaces.
        </li>
        <li>
            To set new standards of excellence in the service of providing top quality living, working and business
            spaces.
        </li>
    </ol>

    <mat-divider></mat-divider>

    <ol>
        <p class="sub-title-blue">Mission</p>
        <li>
            Total customer satisfaction.
        </li>
        <li>
            Trust and reliability.
        </li>
        <li>
            Respect for the environment.
        </li>
    </ol>

    <mat-divider></mat-divider>

    <p class="sub-title-green my-3">Quality Assurance</p>
    <p>Reputation and trust are the building blocks of long term success in the construction industry. Assuring our
        customers ‘good quality’ is, not just a business policy, but a business philosophy, with us at Kumar Properties.
        We follow stringent quality control norms Vis-a Vis every business activity from procurement to delivery. Only
        laboratory certified concrete and best quality construction material are used. Qualified engineers and
        architects, trained site personnel, strict adherence to schedules and meticulous paper-work are the hall-marks
        of all our projects.</p>
    <p>It is small wonder that customers have put their complete trust in us for over fifty years, and continue to do so
    with full confidence.</p>
</div>