
<app-navbar></app-navbar>
<section class="container-fluid">
    <router-outlet></router-outlet>
</section>
<app-footer class="mt-auto"></app-footer>
<div class="btn btn-primary fab" *ngIf="!router.url.includes('register')" (click)="gotoRegister()">
    <mat-icon class="my-1">note_add</mat-icon>
</div>

