$green : #5cb85c;
$blue : #007bff;
div.fab {
    position: fixed;
    bottom: 5%;
    right: 3%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    &:hover{
        background-color: $green;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        animation: expandButton 3s infinite;
    }
}
@keyframes expandButton {
    from { border-radius: 50%;}
    to {border-radius: 10%;}    
}