<div class="d-flex-justify-content-start m-2">
  <span class="text-white cursor-pointer" (click)="gotoHome()">
    <mat-icon>home</mat-icon>&nbsp; <a>Goto Home</a>
  </span>
</div>
<div class="my-5 d-flex justify-content-center justify-content-middle mx-2">
  <div class="card">
    <div class="card-body">
      <h5 class="main-title-blue">Brokers First Choice</h5>
      <mat-tab-group dynamicHeight>
        <mat-tab label="Login">
          <form [formGroup]="login" >
            <div class="row my-2">
              <div class="col-12 ">
                <mat-form-field appearance="outline" class="w-100 ">
                  <mat-label>Email Id<span class="asterisk">*</span></mat-label>
                  <input matInput formControlName="email" maxlength="200" autocomplete="off" />
                  <mat-error *ngIf="login.get('email').hasError('required')">
                    email id is required
                  </mat-error>
                  <mat-error *ngIf="login.get('email').hasError('email')">
                    email id is invalid
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Password<span class="asterisk">*</span></mat-label>
                  <input matInput type="password" formControlName="password" maxlength="200" autocomplete="off" />
                  <mat-error *ngIf="login.get('password').hasError('required')">
                    password is required
                  </mat-error>
                  <mat-error *ngIf="login.get('password').hasError('minLength')">
                    minimum 7 characters required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <button class="btn btn-primary" (click)="Login()">Login</button>
            </div>
          </form>
        </mat-tab>
        <mat-tab label="Sign up">
          <form [formGroup]="signUp">
            <div class="row my-2">
              <div class="col-12">
                <mat-form-field appearance="outline" class="w-100 ">
                  <mat-label>Email Id<span class="asterisk">*</span></mat-label>
                  <input matInput formControlName="email" maxlength="200" autocomplete="off" />
                  <mat-error *ngIf="signUp.get('email').hasError('required')">
                    email id is required
                  </mat-error>
                  <mat-error *ngIf="signUp.get('email').hasError('email')">
                    email id is invalid
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Password<span class="asterisk">*</span></mat-label>
                  <input matInput type="password" formControlName="password" maxlength="200" autocomplete="off" />
                  <mat-error *ngIf="signUp.get('password').hasError('required')">
                    password is required
                  </mat-error>
                  <mat-error *ngIf="signUp.get('password').hasError('minLength')">
                    minimum 7 characters required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Confirm password<span class="asterisk">*</span></mat-label>
                  <input matInput type="password" formControlName="confirmPassword" maxlength="200"
                    autocomplete="off" />
                  <mat-error *ngIf="signUp.get('confirmPassword').hasError('required')">
                    confirm password is required
                  </mat-error>
                  <mat-error *ngIf="signUp.get('confirmPassword').hasError('minLength')">
                    minimum 7 characters required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <button class="btn btn-primary" (click)="Sign()">Sign up</button>
            </div>
          </form>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>