<!-- <div class="d-flex-justify-content-start m-2">
  <span class="sub-title-red cursor-pointer" (click)="gotoHome()">
    <mat-icon>home</mat-icon>&nbsp; <a>Goto Home</a>
  </span>
</div> -->
<div class="my-3">
  <h5 class="main-title">Register with us</h5>
  <div class="card" >
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
      
      <form [formGroup]="register" (ngSubmit)="submitForm()">
        <div class="row my-2">
          <div class="col-lg-6 col-12">
            <mat-form-field appearance="outline" class="w-100 ">
              <mat-label>Name<span class="asterisk">*</span></mat-label>
              <input matInput formControlName="name" maxlength="200" autocomplete="off"/>
              <mat-error *ngIf="register.get('name').hasError('required')">
                name is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-12">
            <mat-form-field appearance="outline" class="w-100 ">
              <mat-label>Email Id<span class="asterisk">*</span></mat-label>
              <input matInput formControlName="email" maxlength="200" autocomplete="off"/>
              <mat-error *ngIf="register.get('email').hasError('required')">
                email id is required
              </mat-error>
              <mat-error *ngIf="register.get('email').hasError('email')">
                email id is invalid
              </mat-error>
            </mat-form-field>
          </div>
        </div>
  
        <div class="row my-2">
          <div class="col-lg-6 col-12">
            <mat-form-field appearance="outline" class="w-100 ">
              <mat-label>Contact number<span class="asterisk">*</span></mat-label>
              <input matInput formControlName="mobile" maxlength="10" autocomplete="off" />
              <mat-error *ngIf="register.get('mobile').hasError('required')">
                contact number is required
              </mat-error>
              <mat-error *ngIf="register.get('mobile').hasError('minLength')">
                enter 10 digit contact number
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-12">
            <mat-form-field appearance="outline" class="w-100 ">
              <mat-label>Select project<span class="asterisk">*</span></mat-label>
              <!-- <input matInput  /> -->
              <mat-select formControlName="project">
                <mat-option *ngFor="let proj of projects" [value]="proj.projectName" >
                  {{proj.projectName}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="register.get('project').hasError('required')">
                please select project
              </mat-error>
            </mat-form-field>
          </div>
        </div>
  
        <div class="row my-2">
          <div class="col-lg-6 col-12">
            <mat-form-field appearance="outline" class="w-100 ">
              <mat-label>Date to contact<span class="asterisk">*</span></mat-label>
              <input matInput formControlName="date" maxlength="200" autocomplete="off" [matDatepicker]="picker" [min]="today" readonly/>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Time to contact<span class="asterisk">*</span></mat-label>
              <input matInput  maxlength="200" value="{{ mytime | date: 'HH:mm' }}" autocomplete="off" />
              <!-- formControlName="time" [popover]="popTemplate" [outsideClick]="true" placement="bottom" -->
            </mat-form-field>
          </div>
        </div>
  
        <div class="row my-2">
          <div class="col-12">
            <mat-form-field appearance="outline" class="w-100 ">
              <mat-label>Message for us</mat-label>
              <textarea matInput formControlName="query" autocomplete="off" maxlength="200"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- <ng-template #popTemplate>
	<timepicker [(ngModel)]="mytime" [showMeridian]="false"></timepicker>
</ng-template> -->
