$blue: #1630c2;
$orange: #cf6e14;
.card {
    &:hover{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    .card-header {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        color: $orange;
        font-size: 18px;
    }
    .card-body {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: $blue;
    }
}

.highlight {
    color: $orange;
    font-weight: bold;
}