<div class="m-3">
    <p class="main-title-blue">Top Projects</p>
    <mat-divider></mat-divider>
    <div class="row my-2">
        <div class="col-lg-3 col-xl-3 col-mg-6 col-12 my-2" *ngFor="let item of propertiesData">
            <div class="card text-white">
              <div class="card-header ">{{item.projectName}}</div>
              <img class="card-img-top" [src]="item.trackableImageUrl" onerror="this.src='../../assets/image_placeholder.jpg';" height="250px" />
                <div class="card-body">
                  <p class="card-text">Available {{item.flatType?.bhk}} flats.</p>
                  <p class="card-text">starting from price<span class="highlight px-2">{{item.projectStartFrom}}</span> lacs to <span class="highlight px-2">{{item.projectEndsAt}}</span> lacs.</p>
                  <h5>Location: {{item.ProjectLocation}}</h5>
                  <h6>{{item.description}}</h6>
                  <button (click)="gotoRegister()" class="btn btn-primary">Register</button>
                </div>
              </div>
        </div>
    </div>
</div>