<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" >Brokers First Choice</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" (click)="gotoHome()">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="gotoRegister()">Register</a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" (click)="gotoAboutUs()">About Us</a> -->
          <!-- disabled -->
        </li>
        <li class="nav-item" *ngIf="loggedIn">
          <a class="nav-link" (click)="gotoCreate()" [disabled]="isCreatedisabled">Create</a>
          <!-- disabled -->
        </li>
        <li class="nav-item" *ngIf="loggedIn">
          <a class="nav-link" (click)="gotoLeads()" [disabled]="isCreatedisabled">Manage Leads</a>
          <!-- disabled -->
        </li>
      </ul>
      <span class="form-inline text-white my-2 my-lg-0 mx-lg-3" *ngIf="! loggedIn">
        <mat-icon>email</mat-icon>
        <a class="nav-link" [href]="mailText">Mail Links</a>
      </span>
      <span class="form-inline text-white my-2 my-lg-0" *ngIf="! loggedIn">
        <mat-icon>person_pin</mat-icon>
        <span class="login" (click)="gotoLogin()">Login</span>
      </span>
      <span class="form-inline text-white my-2 my-lg-0" *ngIf="loggedIn">
        <mat-icon>person_pin</mat-icon>
        <span class="login" (click)="Logout()">Logout</span>
      </span>
    </div>
</nav>
