$orange: #21d11b;
.navbar {
    .navbar-brand {
        color:$orange;
        font-size: 25px;
        font-weight: 600;
    }
    .navbar-nav {
        .active {
            color: rgb(192, 113, 113);
        }
        .nav-item {
            .nav-link {
                color: rgb(236, 237, 243);
            }
        }
    }
    span a {
        color: red;
    }
    .login {
        cursor: pointer;
    }
}