
<div class="d-flex-justify-content-start m-2">
    <span class="text-dark cursor-pointer" (click)="gotoHome()">
      <mat-icon>home</mat-icon>&nbsp; <a>Goto Home</a>
    </span>
  </div>
<div class="container">
    <span class="main-title-blue">My Leads</span>
    <mat-tab-group dynamicHeight>
        <mat-tab label="Properties">
            <mat-accordion *ngFor="let item of propertiesData">
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header class="row">
                        <div class="col-10">
                            <span class="normal-text">{{item.projectName}}</span>
                        </div>
                        <span class="col-2 p-0 text-danger d-flex-justify-content-end">
                            <mat-icon (dblclick)="delete($event, item)">delete</mat-icon>
                        </span> 
                    </mat-expansion-panel-header>
                    <p class="sub-title">Project Details</p>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <img class="card-img-top" [src]="item.trackableImageUrl" onerror="this.src='../../assets/image_placeholder.jpg';" height="300px" />
                            
                        </div>
                        <div class="col-12 col-lg-6 my-2 my-lg-0">
                            <span class="my-2 sub-title-blue">Project Name: {{item.projectName}}</span>
                            <div class="normal-text">Available {{item.flatType?.bhk}} flats.</div>
                            <div class="normal-text">Starting from price {{item.projectStartFrom}} lacs to {{item.projectEndsAt}} lacs.</div>
                            <div class="normal-text">Location: {{item.ProjectLocation}}</div>
                            <div class="normal-text">Location: {{item.description}}</div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-divider></mat-divider>
        </mat-tab>
        <mat-tab label="leads">
            <mat-accordion *ngFor="let item of leadData">
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header class="row">
                        <div class="col-10">
                            <span class="normal-text">{{item.name}}</span>
                        </div>
                        <span class="col-2 p-0 text-danger d-flex-justify-content-end">
                            <mat-icon (dblclick)="deleteLead($event, item)">delete</mat-icon>
                        </span> 
                    </mat-expansion-panel-header>
                    <p class="sub-title">Details</p>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="normal-text">Name : {{item.name}}</div>
                            <div class="normal-text">Email Id : {{item.email}}</div>
                            <div class="normal-text">Contact Number : {{item.mobile}}</div>
                        </div>
                        <div class="col-12 col-lg-6 my-2 my-lg-0">
                            <div class="normal-text">Project query about : {{item.project}}</div>
                            <div class="normal-text">Date to contact : {{item.date ? (item?.date.toDate() | date: 'MMM dd YYYY') : 'NA'}}</div>
                            <div class="normal-text">Time to contact : {{item.time ? item.time : 'NA'}}</div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-divider></mat-divider>
        </mat-tab>
    </mat-tab-group>
</div>
