
<div class="m-3">
    <h5 class="main-title">Create Property</h5>
    <div class="card" >
      <div class="card-body">
        
        <form [formGroup]="register" (ngSubmit)="submitForm()">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <img [src]="downloadableURL" onerror="this.onerror=null;this.src='../../assets/image_placeholder.jpg'"  width="290px;"
                    height="240px;" class="picture-src picture-square" id="PicturePreview"/>
                    <input type="file" #picture (change)="imageUpload($event)" style="display: none;" accept=".jpeg,.jpg,.png,">
                    <div class=" d-flex my-2">
                        <div class="form-group my-2">
                            <button type="button" (click)="picture.click()" mat-raised-button class="btn btn-primary btn-round background-color-primary">Upload Picture</button>
                        </div>
                    </div>
                    <div *ngIf="progressValue | async as val" class="d-flex my-2">
                        <progress type="warning"  [value]="val" style="height: 6mm; width: 300px;" max="100" ></progress>
                        <br />
                    </div>
                    <div *ngIf="progressValue | async as val" class="d-flex my-2">
                        <span *ngIf="val<100" style="font-size: 16px;">{{ val | number}}% </span><span *ngIf="val == 100" style="color:rgb(1, 153, 34);  font-size: 16px">Completed !</span>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <!--  -->
          <div class="row my-2">
            <div class="col-lg-6 col-12">
              <mat-form-field appearance="outline" class="w-100 ">
                <mat-label>Project name<span class="asterisk">*</span></mat-label>
                <input matInput formControlName="projectName" maxlength="200" autocomplete="off"/>
                <mat-error *ngIf="register.get('projectName').hasError('required')">
                  project name is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-lg-6 col-12">
                <mat-form-field appearance="outline" class="w-100 ">
                  <mat-label>Select project<span class="asterisk">*</span></mat-label>
                  <mat-select formControlName="flatType">
                    <mat-option *ngFor="let flat of flatType" [value]="flat">
                      {{flat.bhk}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="register.get('flatType').hasError('required')">
                    please select project flat type
                  </mat-error>
                </mat-form-field>
              </div>
          </div>
    
          <div class="row my-2">
            <div class="col-lg-6 col-12">
                <mat-form-field appearance="outline" class="w-100 ">
                  <mat-label>Project price min (in lacs)<span class="asterisk">*</span></mat-label>
                  <input matInput formControlName="projectStartFrom" maxlength="200" autocomplete="off" type="number"/>
                  <mat-error *ngIf="register.get('projectStartFrom').hasError('required')">
                    project starting price is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-12">
                <mat-form-field appearance="outline" class="w-100 ">
                  <mat-label>Project price max (in lacs)<span class="asterisk">*</span></mat-label>
                  <input matInput formControlName="projectEndsAt" maxlength="200" autocomplete="off" type="number"/>
                  <mat-error *ngIf="register.get('projectEndsAt').hasError('required')">
                    project ending price is required
                  </mat-error>
                </mat-form-field>
              </div>
          </div>

          <div class="row my-2">
            <div class="col-lg-6 col-12">
                <mat-form-field appearance="outline" class="w-100 ">
                  <mat-label>Project Id</mat-label>
                  <input matInput formControlName="projectId" maxlength="200" autocomplete="off"/>
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-12">
                <mat-form-field appearance="outline" class="w-100 ">
                  <mat-label>Project location<span class="asterisk">*</span></mat-label>
                  <input matInput formControlName="ProjectLocation" maxlength="200" autocomplete="off"/>
                  <mat-error *ngIf="register.get('ProjectLocation').hasError('required')">
                    project location is required
                  </mat-error>
                </mat-form-field>
              </div>
          </div>
    
          <div class="row my-2">
            <div class="col-12">
              <mat-form-field appearance="outline" class="w-100 ">
                <mat-label>Property Description</mat-label>
                <textarea matInput formControlName="description" autocomplete="off" maxlength="200"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="d-flex justify-content-center my-2">
            <button class="btn btn-primary">Submit</button>
          </div>
          <div class="d-flex justify-content-center my-2">
            <button class="btn btn-danger" type="button" (click)="gotoHome()">Back</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  