/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */

// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
// @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~bootstrap/scss/bootstrap';
// colors
$blue: #1630c2;
$orange: #d17c1b;
$white: #ffffff;
$black: #0e0c0c;
$brown: #444344;
$light-black:#787878;
$background: #f7f7f7f7;
$green : #5cb85c;
$yellow: rgb(163, 163, 7);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color:$background; }
.main-title {
    font-size: 23px;
    color: $brown;
    &-blue {
        color: $blue;
        font-size: 23px;
    }
}
.sub-title {
    font-size: 20px;
    color: $black;
    &-blue {
        color: $blue;
        font-size: 20px;
    }
    &-green {
        color: $green;
        font-weight: 1000;
    }
}
.normal-text {
    font-size: 15px;
    color: $light-black;
}
ul li {
    cursor: pointer;
    &:hover {
        color: $orange;
    }
}
.card {
    border-radius: 20px;
}

button.btn {
    &:hover {
        background-color: $green;
    }
    width: 200px;
    border-radius: 20px;
}

.asterisk {
    color: $orange;
}
mat-divider {
    border: 1px solid #c8c8c8;
    margin: 10px 0;
}
.login-background-image {
    background-image: url('./assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.cursor-pointer {
    cursor: pointer;
}
// tab and below devices
@include media-breakpoint-down(md) {
    button.btn {
        &:hover {
            background-color: $green;
        }
        width: 250px;
        border-radius: 20px;
    }
 }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
