<footer class="bg-dark text-white mt-5 footer-container">
    <div class="container row py-3">
        <div class="col-lg-4 col-12">
            <ul style="padding: inherit;">
                <p class="footer-heading">Links</p>
                <li>
                    <a (click)="gotoHome()">Home</a>
                </li>
                <li>
                    <a (click)="gotoRegister()">Register</a>
                </li>
                <li>
                    <!-- <a (click)="gotoAboutUs()">About Us</a> -->
                    <!-- disabled -->
                </li>
            </ul>
        </div>
        <div class="col-lg-4 col-12">
            <p class="footer-heading px-3">Contact</p>
            <div class="m-0">Mr. Prasad Kadam</div>
            <div class="m-0">+91 8796615134</div>
            <div class="m-0">prasadkadam123@gmail.com</div>
            <div class="m-0">undri pune</div>
        </div>
    </div>
    <div class="d-flex justify-content-center py-2">
        @2021 brokers in Pune | All rights reserved.
    </div>
</footer>
