$blue: #1630c2;
$orange: #d17c1b;
$white: #ffffff;

.footer-container {
    .footer-heading {
        font-size: 20px;
        color: $orange;
    }
    .info-sub-title {
        font-size: 18px;
        font-weight: 600;
    } 
}